--extra-index-url https://download.pytorch.org/whl/cu118
kornia
numpy==1.23 # fix error
opencv-python
pre-commit
prettytable
scikit-image
scipy
setuptools==69.5.1 # fix error
timm
torch==2.0.1
torchvision==0.15.2
tqdm
